.wrapper {
    text-align: center;
}

.container {
    white-space:nowrap; 
    display:inline-block;
}

#logo {
    display:inline;
}

#name {
    display:inline; 
    white-space:nowrap;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#description {
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.img_circler {
    margin-left:40%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

img {
    margin: 0;
    max-height: 150px;
    width: auto;
}

a.button:link,
a.button:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-radius: 25px;
}

a.button:hover,
a.button:active {
    background-color: rgb(0, 191, 255);
}

#home_button {
    margin-left: 0%;
}